
.about-sidebar {
  display: inline-block;
  background-color: rgba(41, 51, 62, 0.83);
  height: 80%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: 100%;
  padding: 10px;
  /*transform: translateX(0);*/
  border-radius: 5px;
  box-shadow: 0 0 15px black;
  transition: width 1s ease;
}

/*presents about window from center of screen outward*/
.about-window-transition {
  width: 80%;
  margin: auto;
}

.about-content {
  color: white;
}

.about-open-button {
  position: fixed;
  display: block;
  color: white;
  padding: 5px 5px 5px 5px;
  margin-right: 8px;
  top: 40%;
  right: 0;
  text-shadow: -3px 0 10px rgba(0,0,0,0.8);
  transition: right 1s ease;
}

.aboutButtonTransition {right: -30px;}

.about-open-button ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.about-open-button ul li {
  margin: 3px 0 3px 0;
}

/* selecting the last three list items in ul */
.about-open-button ul li:nth-child(6){
  color: #F4BA69;
  line-height: 200%;
}

.about-close-button {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 1.2em;
  margin: 5px 0 0 15px;
}

.about-open-button:hover {color: #F4BA69;}
.about-close-button:hover {color: #F4BA69;}
