/*COLORS*/
/*
<li title="rgba(166, 166, 166, 0.7)" style="background: rgba(166, 166, 166, 0.7)"></li>
<li title="#6D6E71" style="background: #6D6E71"></li>
<li title="#F4BA69" style="background: #F4BA69"></li>
<li title="#FDCB87" style="background: #FDCB87"></li>
<li title="#fce7c9" style="background: #fce7c9"></li>
<li title="#F5F5F6" style="background: #F5F5F6"></li>
<li title="#0F0F0F" style="background: #0F0F0F"></li>
*/

body {
  background-image: url("../img/background_image_alt.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 15px;
}

.home-page {
  /*position: fixed;
  top: 0;
  left: 0;*/
  width: 100%;
  height: 600px;
  border: 1px dashed black;
  /*text-align: center;*/
  z-index: -1;
}

.header {
  width: 100%;
  height: auto;
}

.logo {
  position: absolute;
  width: 150px;
  height: auto;
  margin-left: 10px;
  left: 0;
}


.menu-hamburger {
  display: block;
  position: absolute;
  font-size: 2.5em;
  margin: 35px 10px 0 0;
  right: 0;

}

#canvas-container {
  /*display: inline-block;*/
  position: absolute;
  box-sizing: content-box;
  border: 2px dashed black;
  width: 400px;
  height: 400px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  /*margin-top: 150px;*/
}


.blocks-container {
  border: 1px dashed #F4BA69;
  background-color: rgba(252, 203, 135, 0.5);
  width: 100%;
  height: auto;
  /*margin: 600px 5px 5px 5px;*/
  padding: 10px;
  text-align: center;
}

.blocks-container ul {
  width: 100%;
  padding: 0;
}

.blocks-container li {
  display: inline-block;
}

.block {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin: 20px;
}

.block img {
  /*background-size: cover;*/
  /*background-position: center;*/
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
