/*COLORS*/
/*
<li title="rgba(166, 166, 166, 0.7)" style="background: rgba(166, 166, 166, 0.7)"></li>
<li title="#6D6E71" style="background: #6D6E71"></li>
<li title="#F4BA69" style="background: #F4BA69"></li>
<li title="#FDCB87" style="background: #FDCB87"></li>
<li title="#fce7c9" style="background: #fce7c9"></li>
<li title="#F5F5F6" style="background: #F5F5F6"></li>
<li title="#0F0F0F" style="background: #0F0F0F"></li>
*/

/*
background image color scheme

<li title="#867D80" style="background: #867D80"></li>
<li title="#756F73" style="background: #756F73"></li>
<li title="#29333E" style="background: #29333E"></li>
<li title="rgb(27, 31, 40)" style="background: #1B1F28"></li>
<li title="#464D57" style="background: #464D57"></li>
*/

body {
  background-image: url("../img/background_image_alt.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*padding: 15px;*/
}

h1 {
  font-family: futura;
  font-style: medium;
}

p {
  font-family: consolas;
  font-style: regular;
}

.preloader {
  background-color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}



.home-page {
  width: 100%;
  height: 100%;
}


.header {
  width: 100%;
  height: auto;
}

.navBar {
  display: block;
  width: auto;
  height: auto;
  text-align: center;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 150px;
  height: auto;
  margin-left: 10px;

}


.menu-hamburger {
  display: inline-block;
  float: right;
  font-size: 2.5em;
  margin: 35px 10px 0 0;
}

.pageHeading {
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.pageHeading h1 {
  color: #F5F5F6;
  font-size: 2em;
  font-family: consolas;
  font-style: regular;
  text-shadow: 0 0 15px rgba(0,0,0,0.8);
  transition: opacity 1s ease;
}

/* selecting the last three list items in ul */
.pageHeading h1 .colorAccent {
  color: #F4BA69;
}

#homeSketchContainer {
  position: absolute;
  box-sizing: content-box;
  /*border: 2px dashed black;*/
  opacity: 0.7;
  width: 400px;
  height: 400px;
  top: 60%;
  transform: translateY(-50%);
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  border: 20px solid rgba(0,0,0, 0.2);
  box-shadow: 0 0 150px black;
}

#defaultCanvas0 {
  /*border: 1px solid white;*/
  border-radius: 50%;
  box-shadow: 0 0 140px rgba(47, 52, 59, 1);
  -moz-box-shadow: 0 0 140px rgba(47, 52, 59, 1);
  -webkit-box-shadow: 0 0 140px rgba(47, 52, 59, 1);

}


.blur-me {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.blurry-text {
  opacity: 0.1;
  text-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.blur-transition {
  -webkit-transition: -webkit-filter 1s linear;
  transition: filter 1s linear;
}
