/*************************************/
/******* PROJECTS SIDE BAR ***********/

.projects-container {
  background-color: #29333E;
  width: 0;
  height: 200px;
  transition: width 1.5s ease;
}

.expand {
  width: 33%;
}

.button {
  background-color: white;
  margin: 10px;
  width: 50px;
  height: 20px;
}
.clicked {
  background-color: yellow;
}

.blocks-container ul {
  width: 100%;
  padding: 0;
}

.blocks-container li {
  display: inline-block;
}

.block {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin: 20px;
}

.block img {
  /*background-size: cover;*/
  /*background-position: center;*/
  width: 100%;
  height: 100%;
  border-radius: 8px;
}






/********************************/
/*********DETAIL VIEW***********/

.projectLightbox {
  position: fixed;
  display: none;
  background: rgb(99, 99, 99);
  padding: 20px;
  width: 400px;
  height: 600px;
  color: white;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: scroll;
}

.projectLightbox img {
  width: 350px;
  height: 350px;
  margin: auto;
}

.sketchWindow {
  position: fixed;
  display: none;
  background-color: rgb(99, 99, 99);
  width: 80%;
  height: 300px;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: all 1.0s ease;
}

.transition {
  display: block;
  opacity: 1.0;
}
