.projectWindow {
  display: none;
  background-color: white;
  position: absolute;
  width: auto;
  height: auto;
  margin-left: 325px;  /*where the sidebar slide out + 25px*/
  margin-right: 25px;
  top: 50%; /*centering vertically*/
  transform: translateY(-50%); /*centering vertically*/
}

.projectWindowTransition {
  display: inline-block;
}

.clicked {

}
